@font-face {
  font-family: 'Ramabhadra-Regular';
  src: url('../fonts/Ramabhadra-Regular.woff2') format('woff2'),
  url('../fonts/Ramabhadra-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mulish-Bold';
  src: url('../fonts/Mulish-Bold.woff2') format('woff2'),
     url('../fonts/Mulish-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish-Regular';
  src: url('../fonts/Mulish-Regular.woff2') format('woff2'),
     url('../fonts/Mulish-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Light';
  src: url('../fonts/Poppins-Light.woff2') format('woff2'),
     url('../fonts/Poppins-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
     url('../fonts/Poppins-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
     url('../fonts/Poppins-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
     url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
     url('../fonts/Poppins-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}