$green: #48B84A;

%rama{
  font-family: 'Ramabhadra-Regular';
  font-weight: 400;
}
%mul-400{
  font-family: 'Mulish-Regular';
  font-weight: 400;
}
%mul{
  font-family: 'Mulish-Bold';
  font-weight: 700;
}
%pop-300{
  font-family: 'Poppins-Light';
  font-weight: 300;
}
%pop-400{
  font-family: 'Poppins-Regular';
  font-weight: 400;
}
%pop-500{
  font-family: 'Poppins-Medium';
  font-weight: 500;
}
%pop-600{
  font-family: 'Poppins-SemiBold';
  font-weight: 600;
}
%pop-700{
  font-family: 'Poppins-Bold';
  font-weight: 700;
}